
  <main id="mainpart" class="reading-page style-3" style="min-height: 640px;" *ngFor="let chapter of chapters">
    <section id="rd-side_icon" class="none force-block-l" *ngFor="let volume of volumes.slice(0, 1)">
      <a [ngClass]="{'disabled': (chapter.chapter_id - 1) === 0}" class="rd_sd-button_item rd_top-left" routerLink="/novel-detail/{{ chapter.chapter_id - 1 }}"><i class="fa fa-backward"></i></a>
      <a class="rd_sd-button_item" routerLink="/novel/{{ volume.novel_id }}"><i class="fa fa-home"></i></a>
      <a class="rd_sd-button_item rd_top-right" routerLink="/novel-detail/{{ chapter.chapter_id + 1 }}"><i class="fa fa-forward"></i></a>
    </section>

    <div class="container">
      <div class="row">
        <div class="reading-content col-12 col-lg-10 offset-lg-1" style="word-wrap: break-word;">
          <div class="title-top" style="padding-top: 20px" *ngFor="let volume of volumes.slice(0,1)">
            <h2 class="title-item" align="center" *ngIf="chapter.volume_id === volume.volume_id">{{ volume.volume_title }}</h2>
            <h4 class="title-item" align="center">{{ chapter.title }}</h4>
            <h6 class="title-item" align="center">Lần cuối:
              <time class="timeago" title="{{ chapter.updated_at | date: 'dd/MM/yyyy - HH:mm:ss' }}">{{ chapter.updated_at | date: 'dd/MM/yyyy - HH:mm:ss' }}</time>
          <!-- -   <a href="/" style="text-decoration: underline">Bình luận: 65</a> -->
            </h6>
          </div>

          <div class="audio">
            <h4 class="audio_title">Audio:</h4>
            <audio src="{{ audio[0].url }}" controls="controls" style="height: 30px; flex: 1 1 100px;"></audio>

          </div>

          <div style="text-align: center; margin: 20px auto -20px auto;"></div>
          <div id="chapter-content" class="long-text no-select" style="padding-left: 0px; padding-right: 0px;">
            <div [innerHTML]="chapter.content | newLinesToParagraphs">{{ chapter.content | newLinesToParagraphs }}</div>
            <h3 align="center">-OoO-</h3>

            <p>Tham gia Hako Discord tại <a href="/">hako.vn/discord</a></p>
            <p>Theo dõi Fanpage Hako tại <a href="/">fb.me/hako.page</a></p>
            <a href="/" target="__blank">
              <img src="./assets/banner-book.jpg" class="d-none d-md-block" style="width: 970px; height: auto">
            </a>
            <a href="/" target="__blank">
              <img src="./assets/banner-book.jpg" class="d-md-none" style="width: 100%; height: auto">
            </a>

          </div>

          <div style="text-align: center; margin: 20px auto 10px auto;"></div>
          <section class="rd-basic_icon row" *ngFor="let volume of volumes.slice(0, 1)">
            <a [ngClass]="{'disabled': (chapter.chapter_id - 1) === 0}" routerLink="/novel-detail/{{ chapter.chapter_id - 1 }}" class="col text-center "><i class="fa fa-backward"></i></a>
            <a class="col text-center" routerLink="/novel/{{ volume.novel_id }}"><i class="fa fa-home"></i></a>
            <a routerLink="/novel-detail/{{ chapter.chapter_id + 1 }}" class="col text-center "><i class="fa fa-forward"></i></a>
          </section>

          </div>
      </div>
    </div>
  </main>



