<body>
  <main id="mainpart" class="reading-page style-3" style="min-height: 640px;">
    <section id="rd-side_icon" class="none force-block-l">
      <a class="rd_sd-button_item rd_top-left" href="/"><i class="fa fa-backward"></i></a>
      <a class="rd_sd-button_item" href="/"><i class="fa fa-home"></i></a>
      <!-- <a id="rd-setting_icon" data-affect="#" class="rd_sd-button_item"><i class="fa fa-font"></i></a> -->
      <!-- <a id="rd-info_icon" data-affect="#rd_sidebar.chapters" class="rd_sd-button_item"><i class="fa fa-info"></i></a> -->
      <!-- <a id="rd-bookmark_icon" data-affect="#rd_sidebar.bookmarks" class="rd_sd-button_item"><i class="fa fa-bookmark"></i></a> -->
      <a class="rd_sd-button_item rd_top-right" href="/"><i class="fa fa-forward"></i></a>
    </section>

    <div class="container">
      <div class="row">
        <div class="reading-content col-12 col-lg-10 offset-lg-1" style="word-wrap: break-word;">
          <div class="title-top" style="padding-top: 20px">
            <h2 class="title-item" align="center">Tập 01 - Tình yêu cũ vẫn chưa chịu kết thúc</h2>
            <h4 class="title-item" align="center">Chương 01 - Chẳng muốn bị xem là người yêu cũ đâu 「Cho nên tôi mới ghét cậu ở điểm đó đấy」</h4>
            <h6 class="title-item" align="center">Độ dài: 7,268 từ - Lần cuối:
              <time class="timeago" title="16/06/2022 19:01:48" datetime="2022-06-16T19:01:48+07:00">10 tháng</time>
          -   <a href="/" style="text-decoration: underline">Bình luận: 65</a>
            </h6>
          </div>

          <div style="text-align: center; margin: 20px auto -20px auto;"></div>
          <div id="chapter-content" class="long-text no-select" style="padding-left: 0px; padding-right: 0px;">
            <p id="1">“……”</p><p id="2">“……”</p>
            <p id="3">Tôi đang đứng trước cửa nhà, và đang trong trạng thái lườm nhau.</p>
            <p id="4">Đối tượng là một cô gái trạc tuổi tôi. Tôi rất muốn nói là—tôi với cô ta không là gì của nhau, nhưng mà thực tế thì lại có, phải thừa nhận từng có thì đúng hơn.</p>
            <p id="5">“……Đi đâu vậy, Mizuto-kun?”</p>
            <p id="6">“……Còn cô thì đang tính đi đâu đấy, Yume-san?”</p>
            <p id="7">Tôi nói, cô ta nói, xong rồi lại lặng thinh.</p>
            <p id="8">Đây đã là lần thứ 3 rồi.</p>
            <p id="9">Thực ra thì, chẳng cần phải hỏi tôi cũng biết là cô ấy đi đâu. Chính là tiệm sách nằm ở tầng trên tiệm burger ở Karasuma Sanjou. Hôm nay là ngày phát hành của một cuốn tiểu thuyết trinh thám. Tôi thì đang rất muốn có tập mới, và đó cũng chính là mục đích của cô ta.</p>
            <p id="10">Nên cứ thế này mà đi ra khỏi nhà thì cả hai sẽ cùng nhau đi đến hiệu sách, dừng chân tại cùng một kệ và xếp hàng thanh toán nó với nhau.</p>
            <p id="11">Thế thì chẳng phải là một cặp đôi cùng sở thích với nhau à?</p>
            <p id="415">-- Hết chương 1 --</p>
            <h3 align="center">-OoO-</h3>

            <p>Tham gia Hako Discord tại <a href="/">hako.vn/discord</a></p>
            <p>Theo dõi Fanpage Hako tại <a href="/">fb.me/hako.page</a></p>
            <a href="/" target="__blank">
              <img src="./assets/bg.jpg" class="d-none d-md-block" style="width: 970px; height: auto">
            </a>
            <a href="/" target="__blank">
              <img src="./assets/bg.jpg" class="d-md-none" style="width: 100%; height: auto">
            </a>
          </div>

          <div style="text-align: center; margin: 20px auto 10px auto;"></div>
          <section class="rd-basic_icon row">
            <a href="/" class="col text-center "><i class="fa fa-backward"></i></a>
            <a href="/" class="col text-center"><i class="fa fa-home"></i></a>
            <a href="/" class="col text-center "><i class="fa fa-forward"></i></a>
          </section>

          </div>
      </div>
    </div>
  </main>

</body>
