<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-breadcrumb">
        <span class="breadcrum-level"><a routerLink="/"><mat-icon>home</mat-icon></a></span>
        <span class="next-icon"><i class="fa fa-chevron-right"></i></span>
        <span class="breadcrum-level"><a routerLink="/">Truyện dịch</a></span>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-block clearfix">
    <div class="col-12 col-lg-9 float-left">
      <section class="feature-section at-series clear">

        <main class="section-body">

          <div class="top-part">
            <div class="row">

              <div class="left-column col-12 col-md-3">

                <div class="series-cover">
                  <div class="series-type">
                    <span>Truyện dịch</span>
                  </div>

                  <div class="a6-ratio">
                    <div class="content img-in-ratio" style="background-image: url('./assets/1.jpg')"></div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-9">
                <div class="series-name-group">
                  <span class="series-name">
                    <a href="/">Con gái mẹ kế là bạn gái cũ của tôi</a>
                  </span>
                </div>

                <div class="series-information">
                  <div class="series-gernes">
                    <a class="series-gerne-item" href="/">Adapted to Drama CD</a>
                    <a class="series-gerne-item" href="/">Adapted to Manga</a>
                    <a class="series-gerne-item" href="/">Comedy</a>
                    <a class="series-gerne-item" href="/">Ecchi</a>
                    <a class="series-gerne-item" href="/">Romance</a>
                    <a class="series-gerne-item" href="/">School Life</a>
                    <a class="series-gerne-item animation" style="display: none;" href="/">Adapted to Anime</a>
                    <a class="series-gerne-item animation" style="display: none;" href="/">Drama</a>
                    <a class="series-gerne-item"><i class="fa fa-ellipsis-h"></i></a>
                  </div>

                  <div class="info-item">
                    <span class="info-name">Tác giả:</span>
                    <span class="info-value "><a href="/">Kamishiro Kyousuke</a></span>
                  </div>

                  <div class="info-item">
                    <span class="info-name">Họa sĩ:</span>
                    <span class="info-value"><a href="/">TakayaKi</a></span>
                  </div>

                  <div class="info-item">
                    <span class="info-name">Tình trạng:</span>
                    <span class="info-value"><a href="/">Đang tiến hành</a></span>
                  </div>
                </div>

                <div class="side-features">
                  <div class="row">

                    <div class="col-4 col-md feature-item width-auto-xl">
                      <a id="collect" class="side-feature-button button-follow followed">
                        <span class="block feature-value"><i class="fa fa-heart"></i></span>
                        <span class="block feature-name"> 7759 </span>
                      </a>
                    </div>

                    <div class="col-4 col-md feature-item width-auto-xl">
                      <div class="series-rating rated">
                        <label for="open-rating" class="side-feature-button button-rate">
                          <span class="block feature-value"><i class="fa fa-star"></i></span>
                          <span class="block feature-name">Đánh giá</span>
                        </label>

                        <input type="checkbox" id="open-rating" />
                        <div class="series-evaluation clear" >
                          <span class="star-evaluate-item star-5" data-value="5"><i class="fa fa-star"></i></span>
                          <span class="star-evaluate-item star-4" data-value="4"><i class="fa fa-star"></i></span>
                          <span class="star-evaluate-item star-3" data-value="3"><i class="fa fa-star"></i></span>
                          <span class="star-evaluate-item star-2" data-value="2"><i class="fa fa-star"></i></span>
                          <span class="star-evaluate-item star-1" data-value="1"><i class="fa fa-star"></i></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-4 col-md feature-item width-auto-xl">
                      <div class="catalog-icon side-feature-button">
                        <span class="block feature-value"><i class="fa fa-list"></i></span>
                        <span class="block feature-name">Mục lục</span>
                      </div>
                    </div>

                    <div class="col-4 col-md feature-item width-auto-xl">
                      <a href="/" class="side-feature-button">
                        <span class="block feature-value"><i class="fa fa-comments"></i></span>
                        <span class="block feature-name">Bàn luận</span>
                      </a>
                    </div>

                    <div class="col-4 col-md feature-item width-auto-xl">
                      <label for="open-sharing" class="side-feature-button">
                        <span class="block feature-value"><i class="fa fa-share-alt"></i></span>
                        <span class="block feature-name">Chia sẻ</span>
                      </label>

                      <input type="checkbox" id="open-sharing">
                      <div class="sharing-box">
                        <a x-data="" href="#" class="sharing-item">Link rút gọn</a>
                        <a class="sharing-item" href="/" target="_blank"><i class="fa fa-facebook-f"></i></a>
                        <a class="sharing-item" href="//" target="_blank"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="bottom-part">
            <div class="row">
              <div class="col-12">
                <div class="row statistic-list">

                  <div class="col-12 col-md-3 statistic-item block-wide at-mobile">
                    <div class="statistic-name">Lần cuối</div>
                    <div class="statistic-value"><time class="timeago" title="31/03/2023 22:26:00" datetime="2023-03-31T22:26:00+07:00">3 ngày</time></div>
                  </div>

                  <div class="col-4 col-md-3 statistic-item">
                    <div class="statistic-name">Số từ</div>
                    <div class="statistic-value">660.166</div>
                  </div>

                  <div class="col-4 col-md-3 statistic-item">
                    <div class="statistic-name">Đánh giá</div>
                    <div class="statistic-value">1181</div>
                  </div>

                  <div class="col-4 col-md-3 statistic-item">
                    <div class="statistic-name">Lượt xem</div>
                    <div class="statistic-value">2.774.821</div>
                  </div>

                </div>
              </div>

              <div class="summary-wrapper other-facts col-12">
                <div class="fact-item">
                  <div class="fact-name">Tên khác:</div>
                  <div class="fact-value">
                    <div class="block pad-bottom-5">Mamahaha no Tsurego ga Motokano datta</div>
                    <div class="block pad-bottom-5">Tsurekano</div>
                  </div>
                </div>
              </div>

              <div class="summary-wrapper col-12">
                <div class="series-summary">
                  <h4>Tóm tắt</h4>
                  <div class="summary-content">
                    <p>Thời học trung học, Irido Mizuto và Ayai Yume tình cờ quen nhau và trở thành người yêu của nhau. Nhưng vì vài biến cố nhỏ nhặt mà tình yêu của hai người đành phải kết thúc.</p>
                    <p>Cái kết thúc đó chưa được bao lâu thì ba của Mizuto và mẹ của Yume lại tái hôn với nhau. Liệu bánh xe định mệnh có lại đưa hai người quay về với nhau?</p>
                  </div>

                  <div id="seeMore" (click)="changeClass()" [class]="currentClass">
                    <div class="see_more">{{ currentText }}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </main>
      </section>
    </div>

    <div id="rd-sidebar" class="col-12 col-lg-3 float-right">
      <div class="row top-group">
        <div class="col-12 no-push push-3-m col-md-6 no-push-l col-lg-12">
          <section class="series-users">
            <main>
              <div class="series-owner group-mem">
                <img width="50px" height="50px" src="./assets/1.jpg" alt="Poster's avatar">
                <div class="series-owner-title">
                  <span class="series-owner_name"><a href="/">Shiki Natsume</a></span>
                </div>
              </div>

              <div class="fantrans-section">
                <div class="fantrans-name">Nhóm dịch</div>
                <div class="fantrans-value"><a href="/">3ktan</a></div>
              </div>

              <div class="series-owner_share">
                <span class="owner_share-title" title="Tham gia">Tham gia</span>
                <a class="ln_info-name" href="/" style="padding-left: 5px;">Abraham Winchester</a>
              </div>

              <div class="owner-donate" style="padding: 0"></div>
            </main>
          </section>
        </div>
      </div>

      <section class="series-note basic-section gradual-mobile">
        <header class="sect-header"><span class="sect-title">Chú thích thêm</span><span class="mobile-icon"><i class="fa fa-chevron-down"></i></span></header>
        <main class="d-lg-block">
          <div class="long-text" style="word-wrap: break-word;">
            <p>Trans: Nat- project thứ 2 dịch từ raw. 3 năm rồi kể từ ngày bắt đầu dịch Shurabara! :v Thật hoài niệm.</p>
            <p>Edit: Zi (1~5)</p>
            <p>Tiến độ project:</p>
            <p><strong>Vol 9 done</strong>.</p>
            <p>Số tài khoản Momo: <strong>0938547638</strong> (Donate nếu mấy thím thấy mị xứng đáng ^^)</p>
            <p>- (<strong>Updated</strong> 11/10/2022)</p>
          </div>
        </main>
      </section>

      <section class="basic-section gradual-mobile">
        <header class="sect-header"><span class="sect-title">Thảo luận</span><span class="mobile-icon"><i class="fa fa-chevron-down"></i></span></header>
        <main class="d-lg-block">
          <div class="text-right pad-10">
            <a class="button button-green" href="/">
              <i class="fa fa-plus"></i> Tạo bài viết
            </a>
          </div>
        </main>
      </section>

      <section id="list-vol" class="none list_vol-section">
        <div class="list-volume-wrapper basic-section">
          <header class="sect-header"><span class="sect-title">Mục lục</span></header>
          <span class="list-vol_off">
            <i class="fa fa-times"></i>
          </span>
          <ol class="list-volume unstyled no-margin no-padding">
            <li data-scrollto="#volume_11944"><span class="list_vol-order">01.</span><span class="list_vol-title">Tập 01 - Tình yêu cũ vẫn chưa chịu kết thúc</span></li>
            <li data-scrollto="#volume_11945"><span class="list_vol-order">02.</span><span class="list_vol-title">Tập 02 - Cho dù không phải là người yêu đi chăng nữa</span></li>
            <li data-scrollto="#volume_11946"><span class="list_vol-order">03.</span><span class="list_vol-title">Tập 03 - Nên dừng làm bạn thuở nhỏ thì hơn</span></li>
            <li data-scrollto="#volume_11947"><span class="list_vol-order">04.</span><span class="list_vol-title">Tập 04 - Tuyên bố nụ hôn đầu</span></li>
            <li data-scrollto="#volume_12010"><span class="list_vol-order">05.</span><span class="list_vol-title">Tập 05 - Chỉ mỗi cậu duy nhất trên trần đời</span></li>
            <li data-scrollto="#volume_12805"><span class="list_vol-order">06.</span><span class="list_vol-title">Tập 06 - 6 điều chẳng thể nói lúc ấy</span></li>
            <li data-scrollto="#volume_14556"><span class="list_vol-order">07.</span><span class="list_vol-title">Tập 07 - Cứ thế này thêm một chút nữa nhé</span></li>
            <li data-scrollto="#volume_16851"><span class="list_vol-order">08.</span><span class="list_vol-title">Tập 08 - Đã đến lúc nghiêm túc rồi</span></li>
            <li data-scrollto="#volume_18068"><span class="list_vol-order">09.</span><span class="list_vol-title">Tập 09 - Cầu hôn thôi vẫn là chưa đủ</span></li>
            <li data-scrollto="#volume_19853"><span class="list_vol-order">10.</span><span class="list_vol-title">Tập 10 - Vươn tay đến là chạm được vào em</span></li>
            <li data-scrollto="#volume_12355"><span class="list_vol-order">11.</span><span class="list_vol-title">Ngoại truyện</span></li>
            <li data-scrollto="#volume_18826"><span class="list_vol-order">12.</span><span class="list_vol-title">Con gái mẹ kế là bạn gái hiện tại của tôi</span></li>
          </ol>
        </div>
      </section>
    </div>
  </div>
</div>
