<div class="page-top-group ">
  <a href="/">
    <div class="index-background d-none d-lg-block" style="background-image: url('./assets/bg.png')"></div>
    <div class="index-background d-lg-none" style="background-image: url('./assets/bg.jpg'); background-size: cover"></div>
  </a>
</div>

<div id="mainpart" class="search-page" style="min-height: 640px;">
  <header class="page-title">
    <div class="page-name_wrapper">
      <div class="container">
        <span class="page-name"><i class="fa fa-circle"></i>Tìm kiếm</span>
      </div>
    </div>
  </header>

  <div class="search-form_wrapper">
    <div class="container">
      <form class="search-form clear" action="tim-kiem" method="get">
        <div class="row">
          <input id="search-page-input" class="search-form in col-8 col-md-10 col-lg-10" type="text" placeholder="Tối thiểu 2 kí tự" name="keywords" size="40" value="">
          <input id="search-go" class="search-go_form search-form submit col-4 col-md-2 col-lg-2" type="submit" value="Tìm kiếm">
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <section class="basic-section has-pagination">
      <main class="sect-body">
        <div class="row">

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/1.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/2.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/3.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/4.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/5.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/6.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/7.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/8.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/1.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/2.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/3.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="thumb-wrapper ln-tooltip">
              <a href="/" title="Minh họa">
                <div class="a6-ratio">
                  <div class="content img-in-ratio lazyloaded" style="background-image: url('./assets/4.jpg');"></div>
                </div>
              </a>
              <div class="thumb-detail">
                <div class="thumb_attr chapter-title" title="Minh họa"><a href="/" title="Minh họa">Minh họa</a></div>
                <div class="thumb_attr volume-title">Tập 10 - Vươn tay đến là chạm được vào em</div>
              </div>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Con gái mẹ kế là bạn gái cũ của tôi">Con gái mẹ kế là bạn gái cũ của tôi</a></div>
          </div>
        </div>
      </main>

      <div class="pagination-footer">
        <div class="pagination_wrap">

        <a href="/" class="paging_item paging_prevnext prev  disabled ">Đầu</a>
        <a href="/" class="paging_item page_num  current ">1</a>
        <a href="/" class="paging_item page_num ">2</a>
        <a href="/" class="paging_item page_num ">3</a>
        <a href="/" class="paging_item page_num ">4</a>
        <a href="/" class="paging_item page_num ">5</a>

        <a href="/" class="paging_item paging_prevnext next ">Cuối</a>
        </div>
        </div>
    </section>
  </div>
</div>
