<!-- <main id="mainpart" class="at-index" style="min-height: 640px;"></main> -->
<div class="container">
  <div class="row">
    <div class="no-push col-12 push-2-l col-8-l">
      <div id="announcements" class="index-top_notification">
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Cải tiến về Tìm kiếm</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  Cyan">Giới thiệu truyện bạn trên fanpage Hako.re của CLN</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  Orange">BÌNH CHỌN TRUYỆN SÁNG TÁC 2.0 KỲ 8</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Donate hỗ trợ Cổng LN</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Không đăng Manga</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  blue">(HAKO FAQs) NHỮNG CÂU HỎI THƯỜNG GẶP TRÊN HAKO</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color: #eee;">Thử nghiệm thông báo chương mới</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Quy định chung đối với các dự án đăng tại Cổng Light Novel</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="daily-recent_views">

        <header class="title">
          <span class="top-tab_title title-active"><i class="fa fa-trophy"></i> Nổi bật</span>
          <span class="top-tab_title"><a routerLink="/">Top tháng</a></span>
          <span class="top-tab_title"><a routerLink="/">Toàn t/gian</a></span>
        </header>

        <owl-carousel-o [options]="customOptions">
          <ng-container id="tns1">
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/1.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/2.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/3.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/4.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/5.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/6.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/7.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/8.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

    </div>
    </div>

    <div class="col-12 col-lg-3">
      <section class="last-topics index-section">
        <header class="section-title">
          <a href=""><span class="sts-bold">Thảo</span><span class="sts-empty">Luận</span></a>
        </header>

        <main>
          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #28e1e8; margin-right: 4px;"></i>
                <a href="/">"Con game R18 này thật điên rồ!" - World build độc đáo và những giả thuyết của một độc giả qua đường</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 14:30:43" datetime="2023-03-31T14:30:43+07:00">1 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                <a href="" title="Thảo luận cho tác giả OLN">Thảo luận cho tác giả OLN</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 14:20:02" datetime="2023-03-31T14:20:02+07:00">1 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                <a href="/" title="Hỏi Truyện từ A>Z. Góc 8 nhảm cho dịch giả 2.0">Hỏi Truyện từ A&gt;Z. Góc 8 nhảm cho dịch giả 2.0</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 12:16:13" datetime="2023-03-31T12:16:13+07:00">3 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                <a href="/" title="Quy Định Đối Với Truyện Sáng Tác - OLN">Quy Định Đối Với Truyện Sáng Tác - OLN</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 06:12:10" datetime="2023-03-31T06:12:10+07:00">9 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #e01bb4; margin-right: 4px;"></i>
                <a href="/" title="Give away for my homies !!!">Give away for my homies !!!</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 01:51:27" datetime="2023-03-31T01:51:27+07:00">14 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                <a href="/" title="Báo cáo bình luận">Báo cáo bình luận</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 22:40:43" datetime="2023-03-30T22:40:43+07:00">17 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #28e1e8; margin-right: 4px;"></i>
                <a href="/" title="R18 - Siêu phẩm OLN game trên Hako hay là Bom xịt Clickbait với minh họa G cup?">R18 - Siêu phẩm OLN game trên Hako hay là Bom xịt Clickbait với minh họa G cup?</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 22:16:06" datetime="2023-03-30T22:16:06+07:00">17 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                <a href="/" title="Phòng hỗ trợ dịch thuật">Phòng hỗ trợ dịch thuật</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 20:58:10" datetime="2023-03-30T20:58:10+07:00">19 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                <a href="/" title="Trang yêu cầu xóa truyện/tập/chương">Trang yêu cầu xóa truyện/tập/chương</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 19:17:41" datetime="2023-03-30T19:17:41+07:00">20 giờ</time>
              </div>
            </div>
          </div>

        </main>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">
      <section class="index-sections thumb-section-flow last-chapter translation three-row">

        <header class="section-title">
          <span class="sts-bold">Chương</span><span class="sts-empty">mới nhất</span>
        </header>

        <main class="row">
          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/1.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/1.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Kimi to Boku no Saigo no Senjo, Arui wa Sekai ga Hajimaru Seisen</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/2.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/3.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/4.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/5.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/6.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/7.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/8.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/1.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>

          <div class="thumb-item-flow col-4 col-md-3 col-lg-2">
            <div class="mainBlocks">
              <a routerLink="/"  title="mmm">
                <div class="content img-in-ratio" style="background-image: url('./assets/5.jpg')"></div>
                <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                <div class="imgTexts">
                  <p>Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  <p class="volume-title">Type your text here that you want to place over an image.</p>
                </div>
              </a>
            </div>
            <div class="thumb_attr series-title"><a href="/" title="Liar Liar">Liar Liar</a></div>
          </div>


          <div class="thumb-item-flow col-4 col-lg-2 see-more">
            <div class="mainBlocks">
              <div class="a6-ratio">
                <div class="content img-in-ratio" style="background-image: url('assets/1.jpg');"></div>
              </div>
                <a href="/">
                  <div class="thumb-see-more">
                    <div class="see-more-inside">
                      <div class="see-more-content">
                        <div class="see-more-icon"><i class="fa fa-arrow-circle-right"></i></div>
                        <div class="see-more-text">Xem thêm</div>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
          </div>

        </main>
      </section>
      <section class="index-sections thumb-section-flow last-chapter original one-row">
      <header class="section-title"><span class="sts-bold">Sáng tác</span><span class="sts-empty">Mới Nhất</span></header>
      <main class="row">
      <div class="thumb-item-flow col-4 col-lg-2">
      <div class="thumb-wrapper">
      <a href="/sang-tac/12820-quy-vuong-la-thay-giao/c110964-phu-truyen-chuong-54-chinh-nghia-de" title="Phụ truyện chương 54: Chính Nghĩa Đế">
      <div class="a6-ratio">
      <div class="content img-in-ratio lazyloaded" data-bg="https://i.docln.net/lightnovel/covers/s12820-33e6f2ce-dc3c-46df-bc7d-ecaf235edbf2-m.jpg" style="background-image: url(&quot;https://i.docln.net/lightnovel/covers/s12820-33e6f2ce-dc3c-46df-bc7d-ecaf235edbf2-m.jpg&quot;);"></div>
      </div>
      </a>
      <div class="thumb-detail">
      <div class="thumb_attr chapter-title" title="Phụ truyện chương 54: Chính Nghĩa Đế"><a href="/sang-tac/12820-quy-vuong-la-thay-giao/c110964-phu-truyen-chuong-54-chinh-nghia-de" title="Phụ truyện chương 54: Chính Nghĩa Đế">Phụ truyện chương 54: Chính Nghĩa Đế</a></div>
      <div class="thumb_attr volume-title">Phụ truyện</div>
      </div>
      </div>
      <div class="thumb_attr series-title"><a href="/sang-tac/12820-quy-vuong-la-thay-giao" title="Quỷ Vương là thầy giáo?">Quỷ Vương là thầy giáo?</a></div>
      </div>
      <div class="thumb-item-flow col-4 col-lg-2">
      <div class="thumb-wrapper">
      <a href="/sang-tac/14666-so-tay-chinh-phuc-cua-nu-phan-dien/c111007-chuong-04-tro-chuyen-o-vuon-hoa" title="Chương 04: Trò chuyện ở vườn hoa">
      <div class="a6-ratio">
      <div class="content img-in-ratio lazyloaded" data-bg="https://i.docln.net/lightnovel/covers/s14666-8e7f3f00-e047-4d86-8145-b6eaf69cf4d0-m.jpg" style="background-image: url(&quot;https://i.docln.net/lightnovel/covers/s14666-8e7f3f00-e047-4d86-8145-b6eaf69cf4d0-m.jpg&quot;);"></div>
      </div>
      </a>
      <div class="thumb-detail">
      <div class="thumb_attr chapter-title" title="Chương 04: Trò chuyện ở vườn hoa"><a href="/sang-tac/14666-so-tay-chinh-phuc-cua-nu-phan-dien/c111007-chuong-04-tro-chuyen-o-vuon-hoa" title="Chương 04: Trò chuyện ở vườn hoa">Chương 04: Trò chuyện ở vườn hoa</a></div>
      <div class="thumb_attr volume-title">Tập 01: Làm lại cuộc đời ở thế giới khác</div>
      </div>
      </div>
      <div class="thumb_attr series-title"><a href="/sang-tac/14666-so-tay-chinh-phuc-cua-nu-phan-dien" title="Sổ tay chinh phục của nữ phản diện">Sổ tay chinh phục của nữ phản diện</a></div>
      </div>
      <div class="thumb-item-flow col-4 col-lg-2">
      <div class="thumb-wrapper">
      <a href="/sang-tac/13183-toi-nhan-ra-minh-song-trong-mot-the-gioi-game-eroge/c110995-chuong-08-duong-den-truong-ngay-mot-la" title="Chương 08: Đường đến trường ngày một lạ">
       <div class="a6-ratio">
      <div class="content img-in-ratio lazyloaded" data-bg="https://i.docln.net/lightnovel/covers/s13183-c49aff40-8370-4c4b-b546-e7e3a9e4a5a9-m.jpg" style="background-image: url(&quot;https://i.docln.net/lightnovel/covers/s13183-c49aff40-8370-4c4b-b546-e7e3a9e4a5a9-m.jpg&quot;);"></div>
      </div>
      </a>
      <div class="thumb-detail">
      <div class="thumb_attr chapter-title" title="Chương 08: Đường đến trường ngày một lạ"><a href="/sang-tac/13183-toi-nhan-ra-minh-song-trong-mot-the-gioi-game-eroge/c110995-chuong-08-duong-den-truong-ngay-mot-la" title="Chương 08: Đường đến trường ngày một lạ">Chương 08: Đường đến trường ngày một lạ</a></div>
      <div class="thumb_attr volume-title">Tập 02: Khi trò chơi hóa hiện thực</div>
      </div>
      </div>
      <div class="thumb_attr series-title"><a href="/sang-tac/13183-toi-nhan-ra-minh-song-trong-mot-the-gioi-game-eroge" title="Tôi Nhận Ra Mình Sống Trong Một Thế Giới Game Eroge">Tôi Nhận Ra Mình Sống Trong Một Thế Giới Game Eroge</a></div>
      </div>
      <div class="thumb-item-flow col-4 col-lg-2">
      <div class="thumb-wrapper">
      <a href="/sang-tac/14691-tro-lai-qua-khu-lan-nay-nhat-dinh-toi-se-song-that-tot/c110993-loi-mo-dau" title="Lời mở đầu">
      <div class="a6-ratio">
      <div class="content img-in-ratio lazyloaded" data-bg="https://docln.net/img/nocover.jpg" style="background-image: url(&quot;https://docln.net/img/nocover.jpg&quot;);"></div>
      </div>
      </a>
      <div class="thumb-detail">
      <div class="thumb_attr chapter-title" title="Lời mở đầu"><a href="/sang-tac/14691-tro-lai-qua-khu-lan-nay-nhat-dinh-toi-se-song-that-tot/c110993-loi-mo-dau" title="Lời mở đầu">Lời mở đầu</a></div>
      <div class="thumb_attr volume-title">Tập 01: Kết thúc của cái chết</div>
      </div>
      </div>
      <div class="thumb_attr series-title"><a href="/sang-tac/14691-tro-lai-qua-khu-lan-nay-nhat-dinh-toi-se-song-that-tot" title="Trở lại quá khứ tôi nhất định sẽ thay đổi kết cục bi thảm của bản thân">Trở lại quá khứ tôi nhất định sẽ thay đổi kết cục bi thảm của bản thân</a></div>
      </div>
      <div class="thumb-item-flow col-4 col-lg-2">
      <div class="thumb-wrapper">
      <a href="/sang-tac/14443-khong-yeu-cung-phai-yeu/c110966-chuong-ki-niem-20000-view-thu-anh" title="Chương Kỉ Niệm 20,000 view (Thư Anh)">
      <div class="a6-ratio">
      <div class="content img-in-ratio lazyloaded" data-bg="https://i.docln.net/lightnovel/covers/s14443-59cef2a1-a4ee-423a-a16f-9acac45ae2bf-m.jpg" style="background-image: url(&quot;https://i.docln.net/lightnovel/covers/s14443-59cef2a1-a4ee-423a-a16f-9acac45ae2bf-m.jpg&quot;);"></div>
      </div>
      </a>
      <div class="thumb-detail">
      <div class="thumb_attr chapter-title" title="Chương Kỉ Niệm 20,000 view (Thư Anh)"><a href="/sang-tac/14443-khong-yeu-cung-phai-yeu/c110966-chuong-ki-niem-20000-view-thu-anh" title="Chương Kỉ Niệm 20,000 view (Thư Anh)">Chương Kỉ Niệm 20,000 view (Thư Anh)</a></div>
      <div class="thumb_attr volume-title">Route AB: Thư Anh</div>
      </div>
      </div>
      <div class="thumb_attr series-title"><a href="/sang-tac/14443-khong-yeu-cung-phai-yeu" title="Không Yêu Cũng Phải Yêu">Không Yêu Cũng Phải Yêu</a></div>
      </div>
      <div class="thumb-item-flow col-4 col-lg-2 see-more">
      <div class="thumb-wrapper">
      <div class="a6-ratio">
      <div class="content img-in-ratio" style="background-image: url('img/nocover.jpg');"></div>
      </div>
      <a href="https://docln.net/danh-sach?sangtac=1&amp;sapxep=capnhat">
      <div class="thumb-see-more">
      <div class="see-more-inside">
      <div class="see-more-content">
      <div class="see-more-icon"><i class="fas fa-arrow-circle-right"></i></div>
      <div class="see-more-text">Xem thêm</div>
      </div>
      </div>
      </div>
      </a>
      </div>
      </div>
      </main>
      </section>
      </div>
  </div>
</div>
