// .index-top_notification {
//   background-color: #1f1f1f;
//   border-color: #1f1f1f #111 #0a0a0a;
//   border-style: solid;
//   border-width: 1px;
//   box-shadow: none;
// }

.index-top_notification {
  background-color: rgba(227,229,232,.5);
  border: 1px solid #e3e5e8;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.index-top_notification .annoucement-item {
  font-size: 16px;
  // font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.index-top_notification .annoucement-item a {
  text-decoration: none;
}

.daily-recent_views .top-tab_title.title-active {
  background-color: rgba(25,26,26,.8);
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
}

.daily-recent_views .title {
  padding: 0.5em 0;
}

.daily-recent_views .top-tab_title {
  border-bottom: 2px solid transparent;
  font-weight: 500;
  margin-right: 10px;
}

.daily-recent_views .top-tab_title a {
  text-decoration: none;
  color: #aaa;
}

.daily-recent_views .top-tab_title a:hover {
  color: #20c997;
}

.daily-recent_views .top-tab_title.title-active i {
    color: #f0bc00;
    display: inline;
}
.fa, .fas {
    font-weight: 900;
}

.mainBlock {
  position: relative;
  margin: 0 auto;
  height: 300px;
}

.mainBlock .img-in-ratio {
  // vertical-align: middle;
  background-size: 100% 100%;
  object-fit: cover;
}

.content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-in-ratio {
  background-position: 50%;
  background-repeat: no-repeat;
}

.mainBlock .imgText {
  background: linear-gradient(178deg,transparent 0,rgba(0,0,0,.8) 67%,rgba(0,0,0,.8));
  bottom: 0;
  height: 80px;
  font-weight: 700;
  left: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 100%;
  margin-top: 6px;
}

.mainBlock a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .mainBlock {
    height: 150px;
  }
}

@media only screen and (max-width: 765px) {
  .mainBlock {
    height: 200px;
  }
}

@media only screen and (max-width: 1150px) {
  .mainBlock {
    height: 250px;
  }
}

/* left side */

.index-section {
  margin-left: 40px;
  margin-bottom: 40px;
}

.index-section .section-title {
  font-weight: 500;
  padding-bottom: 1em;
  padding-top: 1em;
}

.index-section .section-title a {
  text-decoration: none;
}

.index-section .section-title a:hover {
  .sts-empty {
    color: #20c997;
  }
}

.sts-bold {
  background-color: rgba(26,26,26,.8);
  color: #fff;
  padding: 4px 8px;
}

.sts-bold, .sts-empty {
  display: inline-block;
}

.sts-empty {
  border-bottom: 2px solid rgba(26,26,26,.8);
  margin: 0 8px;
  color: rgba(26,26,26,.8);
  text-transform: uppercase;
}

.last-topics .topic-item {
  margin-bottom: 10px;
  padding: 0 10px 0 20px;
}

.last-topics .topic-data {
  color: rgba(0,0,0,.4);
  padding: 0;
  font-size: 14px;
}

.line-ellipsis {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-ellipsis a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.line-ellipsis a:hover {
  color: #20c997;
}
