<!-- <main id="mainpart" class="at-index" style="min-height: 640px;"></main> -->
<div class="container">
  <div class="row">
    <div class="no-push col-12 push-2-l col-8-l">
      <div id="announcements" class="index-top_notification">
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Cải tiến về Tìm kiếm</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  Cyan">Giới thiệu truyện bạn trên fanpage Hako.re của CLN</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  Orange">BÌNH CHỌN TRUYỆN SÁNG TÁC 2.0 KỲ 8</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Donate hỗ trợ Cổng LN</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Không đăng Manga</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  blue">(HAKO FAQs) NHỮNG CÂU HỎI THƯỜNG GẶP TRÊN HAKO</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color: #eee;">Thử nghiệm thông báo chương mới</a>
        </div>
        <div class="annoucement-item">
          <a routerLink="/" style=" color:  red">Quy định chung đối với các dự án đăng tại Cổng Light Novel</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="daily-recent_views">

        <header class="title">
          <span class="top-tab_title title-active"><i class="fa fa-trophy"></i> Nổi bật</span>
          <span class="top-tab_title"><a routerLink="/">Top tháng</a></span>
          <span class="top-tab_title"><a routerLink="/">Toàn t/gian</a></span>
        </header>

        <owl-carousel-o [options]="customOptions">
          <ng-container id="tns1">
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/1.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/2.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/3.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/4.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/5.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/6.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/7.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide mainBlock">
                <a routerLink="/"  title="mmm">
                  <div class="content img-in-ratio" style="background-image: url('./assets/8.jpg')"></div>
                  <!-- <img src="./assets/7.jpg" alt="Notebook" style="width:100%;"> -->
                  <div class="imgText">
                    <p>Type your text here that you want to place over an image. Try to write a short paragraph here as a long paragraph will cover most of the image area and covering the entire image with text is not praise worthy.</p>
                  </div>
                </a>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

    </div>
    </div>

    <div class="col-12 col-lg-3">
      <section class="last-topics index-section">
        <header class="section-title">
          <a href=""><span class="sts-bold">Thảo</span><span class="sts-empty">Luận</span></a>
        </header>

        <main>
          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #28e1e8; margin-right: 4px;"></i>
                <a href="/">"Con game R18 này thật điên rồ!" - World build độc đáo và những giả thuyết của một độc giả qua đường</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 14:30:43" datetime="2023-03-31T14:30:43+07:00">1 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                <a href="" title="Thảo luận cho tác giả OLN">Thảo luận cho tác giả OLN</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 14:20:02" datetime="2023-03-31T14:20:02+07:00">1 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                <a href="/" title="Hỏi Truyện từ A>Z. Góc 8 nhảm cho dịch giả 2.0">Hỏi Truyện từ A&gt;Z. Góc 8 nhảm cho dịch giả 2.0</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 12:16:13" datetime="2023-03-31T12:16:13+07:00">3 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                <a href="/" title="Quy Định Đối Với Truyện Sáng Tác - OLN">Quy Định Đối Với Truyện Sáng Tác - OLN</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 06:12:10" datetime="2023-03-31T06:12:10+07:00">9 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #e01bb4; margin-right: 4px;"></i>
                <a href="/" title="Give away for my homies !!!">Give away for my homies !!!</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="31-03-2023 01:51:27" datetime="2023-03-31T01:51:27+07:00">14 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                <a href="/" title="Báo cáo bình luận">Báo cáo bình luận</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 22:40:43" datetime="2023-03-30T22:40:43+07:00">17 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #28e1e8; margin-right: 4px;"></i>
                <a href="/" title="R18 - Siêu phẩm OLN game trên Hako hay là Bom xịt Clickbait với minh họa G cup?">R18 - Siêu phẩm OLN game trên Hako hay là Bom xịt Clickbait với minh họa G cup?</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 22:16:06" datetime="2023-03-30T22:16:06+07:00">17 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                <a href="/" title="Phòng hỗ trợ dịch thuật">Phòng hỗ trợ dịch thuật</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 20:58:10" datetime="2023-03-30T20:58:10+07:00">19 giờ</time>
              </div>
            </div>
          </div>

          <div class="topic-item">
            <div class="row">
              <div class="col-9 line-ellipsis">
                <i class="fa fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                <a href="/" title="Trang yêu cầu xóa truyện/tập/chương">Trang yêu cầu xóa truyện/tập/chương</a>
              </div>
              <div class="col-3 topic-data text-right">
                <time class="timeago" title="30-03-2023 19:17:41" datetime="2023-03-30T19:17:41+07:00">20 giờ</time>
              </div>
            </div>
          </div>

        </main>
      </section>
    </div>
  </div>
</div>
