<div class="container" *ngIf="!isAdmin">
  <mat-toolbar class="primary">

    <button class="toggle" mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

   <div class="logo"><a [routerLink]="['/home']">My App</a></div>
   <div class="nav">
    <a routerLink="/search"><button mat-button>Tìm kiếm</button></a>
    <a routerLink="/category"><button mat-button>Danh mục</button></a>
    <a routerLink="/discussion"><button mat-button>Thảo luận</button></a>
    <a routerLink="/"><button mat-button>Hướng dẫn</button></a>
   </div>

   <span class="spacer"></span>

   <div class="icon-nav">
    <div class="searchbar">
      <input class="search_input" type="text" name="search" placeholder="Search...">
      <a routerLink="/search" class="search_icon" routerLink="/search"><i class="fa fa-search"></i></a>
    </div>

    <a *ngIf="!isAuth" class="login" routerLink="/login"><button mat-button>Đăng nhập</button></a>

    <div *ngIf="isAuth" class="login">
      <a class="login"><button mat-button>{{user.full_name}} <i class="fa fa-user"></i></button></a>
      <div class="menu">
        <a routerLink="/profile">Profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>


   </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav #nav>
      <div class="d-flex form-inputs">
        <input class="form-control" type="text" placeholder="Search..">
        <i class="fa fa-search"></i>
      </div>
      <a routerLink="/search">
        <button mat-button>
          <span>Tìm kiếm</span>
        </button>
      </a>
      <a routerLink="/category">
        <button mat-button>
          <span>Danh mục</span>
        </button>
      </a>
      <a routerLink="/discussion">
        <button mat-button>
          <span>Thảo luận</span>
        </button>
      </a>
      <a routerLink="/">
        <button mat-button>
          <span>Hướng dẫn</span>
        </button>
      </a>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>

      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet *ngIf="isAdmin"></router-outlet>

<lib-ng-toast></lib-ng-toast>
<ng-confirm></ng-confirm>
